---
import { getCollection } from "astro:content";
import MainLayout from "src/layouts/main.astro";
import toastedLogo from "@assets/toasted.jpg";
import { Image } from "astro:assets";

export async function getStaticPaths() {
  const seriesEntries = await getCollection("series");
  return seriesEntries.map((series) => ({
    params: { slug: series.id },
    props: { series },
  }));
}

const { series } = Astro.props;
const allPosts = (await getCollection("blog"))
  .filter((post) => post.data.series?.id === series.id)
  .sort((a, b) => a.data.createdAt.getTime() - b.data.createdAt.getTime());
---

<MainLayout title={series.data.title} description={series.data.description}>
  <div class="flex flex-col gap-2 pb-4">
    <h1 class="text-4xl font-bold">
      {series.data.title}
    </h1>
    <p>{series.data.description}</p>
  </div>
  <div class="grid grid-cols-1 gap-3 md:grid-cols-2 md:gap-2">
    {
      allPosts.map((post) => (
        <a
          href={`/blog/${post.id}`}
          class="flex h-full flex-col gap-2 rounded-lg bg-orange-800/50 p-3 transition-all hover:opacity-75"
        >
          <Image
            src={post.data.image ?? toastedLogo}
            alt={`${post.data.title} Hero Image`}
            class="h-[150px] w-full rounded-lg object-cover"
            transition:name={`${post.data.title} Hero Image`}
          />
          <div class="flex flex-col gap-2">
            <div class="flex flex-col gap-0.5">
              <h1 class="text-2xl font-bold" transition:name={post.data.title}>
                {post.data.title}
              </h1>
              <time
                class="text-xs text-neutral-300"
                datetime={post.data.createdAt.toLocaleDateString()}
              >
                {post.data.createdAt.toLocaleString(undefined, {
                  month: "short",
                  day: "numeric",
                  year: "numeric",
                })}
              </time>
            </div>
            <p>{post.data.description}</p>
          </div>
        </a>
      ))
    }
  </div>
</MainLayout>
