---
import { getCollection } from "astro:content";
import MainLayout from "../../layouts/main.astro";
import { Image } from "astro:assets";

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content, remarkPluginFrontmatter } = await post.render();
---

<MainLayout
  title={post.data.title}
  description={post.data.description ?? "A blog post."}
  image={post.data.ogImage
    ? "https://toasted.is-a.dev" + post.data.ogImage
    : undefined}
>
  <div class="flex flex-col gap-4 pb-2">
    <div class="flex flex-col gap-2">
      <h1 class="text-4xl font-bold" transition:name={post.data.title}>
        {post.data.title}
      </h1>
      <div class="flex items-center gap-1.5 text-sm text-gray-300">
        <time datetime={post.data.createdAt.toLocaleDateString()}>
          {
            post.data.createdAt.toLocaleString(undefined, {
              month: "short",
              day: "numeric",
              year: "numeric",
            })
          }
        </time>
        <p>·</p>
        <p>{remarkPluginFrontmatter.minutesRead}</p>
      </div>
    </div>
    {
      post.data.image && (
        <>
          <Image
            src={post.data.image}
            alt={`${post.data.title} Hero Image`}
            class="w-full rounded-lg object-cover"
            transition:name={`${post.data.title} Hero Image`}
          />
        </>
      )
    }
  </div>
  <article
    class="prose prose-neutral prose-invert max-w-none prose-headings:mb-3 prose-headings:mt-6 prose-a:text-orange-500 prose-a:no-underline"
  >
    <Content />
  </article>
</MainLayout>
