---
import "../styles/custom.css";
import Toast from "../icons/toast.astro";
import NavLinks from "../components/nav-links.astro";
import { ViewTransitions } from "astro:transitions";

interface Props {
  title?: string;
  image?: string;
  description?: string;
}

const {
  title,
  image,
  description = "A 14 year old developer who likes to build things for the web and Discord.",
} = Astro.props;
---

<html
  lang="en"
  class="bg-orange-950 text-slate-100"
  style="color-scheme: dark;"
>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ? `${title} — ToastedToast` : "ToastedToast"}</title>
    <meta name="description" content={description} />
    <meta
      property="og:title"
      content={title ? `${title} — ToastedToast` : "ToastedToast"}
    />
    <meta property="og:description" content={description} />
    <meta property="og:url" content="https://toasted.is-a.dev/" />
    <meta property="og:type" content="website" />
    <meta name="twitter:creator" content="@ToastedDev" />
    <meta name="twitter:creator:id" content="1145171094556426240" />
    <meta
      name="twitter:title"
      content={title ? `${title} — ToastedToast` : "ToastedToast"}
    />
    <meta name="twitter:description" content={description} />
    <meta
      property="og:image"
      content={image ?? "https://toasted.is-a.dev/logo.png"}
    />
    <meta
      name="twitter:image"
      content={image ?? "https://toasted.is-a.dev/logo.png"}
    />
    <meta
      name="twitter:card"
      content={image ? "summary_large_image" : "summary"}
    />
    <meta name="theme-color" content="#f97316" />
    <ViewTransitions />
  </head>
  <body class="mx-auto max-w-3xl p-4">
    <header class="flex items-center justify-between pb-4">
      <nav
        class="text-2xl font-semibold text-orange-500 transition-all hover:opacity-75"
      >
        <a href="/" class="flex items-center gap-2">
          <Toast class="text-3xl" />
          <p>ToastedToast</p>
        </a>
      </nav>
      <NavLinks slug={Astro.url.pathname} />
    </header>
    <main>
      <section class="mb-3 rounded-lg bg-orange-800/50 px-3 py-2">
        Goodbye <b>toasted.is-a.dev</b>, hello <b>toasted.dev</b>! In
        celebration, I've turned off the lights and redesigned my whole website
        in dark mode. Enjoy!
      </section>
      <slot />
    </main>
  </body>
</html>
